/* body {
  display: flex;
  justify-content: center;
  align-items: center; */
/* } */
.ball {
  background-color: aqua;
  border-radius: 50%;
  position: relative;
  height: 50px;
  width: 50px;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
